* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.container-top {
    display: flex;
    background-color: green;
    height: 85vh;
    width: 100vw;
}

/* Left side styles start */

.container-top-left-side {
    width: 50%;
    height: 100%;
    background: url(../images/office.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
}

.container-top-left-side-centerized {   
    background-color:rgb(236,123,39, 0.75);
    padding: 2%;
    border-radius: 15px 50px;
    margin-top: 5%;
    margin-left: 20%;
    width: 60%;
    height: 80%;
}


.container-top-left-side-header > h1 {
   font-family: Gratise;
   font-size: 54px;
   text-align: center;
   color: white;
}

.container-top-left-side-header > p {
    margin-top: 3%;
    line-height: 30px; /* 4px +12px + 4px */
    font-family: Arial, 'Times New Roman', Times, serif;
    text-align: left;
    text-justify: auto;
    color: white;
 }

 .container-top-left-side-list {
    margin-top: 5%;
    margin-left: 5%;
    color: white;
 }

 .container-top-left-side-list > ul {
    width: 100%;
    height: 100%;
    list-style-image: url('../images/list-icon2.png');
 }

 .container-top-left-side-list li {
    line-height: 30px; /* 4px +12px + 4px */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
 }

 /* Left side styles end */

/* Right side styles start */

.container-top-right-side {
    width: 50%;
    height: 100%;
    background: url('../images/people-working.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container-top-right-side-centerized {
    padding: 3%;
    border-radius: 5px 5px;
    margin-top: 13%;
    margin-left: 30%;
    width: 40%;
    height: 60%;
    background-color: rgba(61, 97, 81, 0.542);
}

.container-top-right-side-header {
    width: 100%;
    padding-bottom: 10%;
}

.container-top-right-side-header img {
    width: 60%;
    margin-left: 20%;
}

.container-top-right-side-header h1 {
    font-family: Hug Me Tight;
    text-align: center;
    color: rgb(236,123,39);
    font-size: 26px;
}

.container-top-right-side-form {
    margin-left: 15%;
    width: 70%;
    height: 55%;
    background-color: rgba(173, 216, 230, 0.576);
    border-radius: 5px 5px;
}

.container-top-right-side-form p {
    line-height: 30px;
    font-family: Hug Me Tight;
    text-align: center;
    color:white;
    text-align: center;
}

.container-top-right-side-form input,
.container-top-right-side-form select {
    display: block;
    margin : 0 auto;
    border: none;
    border-radius: 4px;
    width: 60%;
    text-align: center;
    height: 10%;
    background-color: rgba(173, 216, 230, 0.576);
}

.container-top-right-side-form button {
    width: 25%;
    height: 10%;
    display: block;
    margin: 0 auto;
    margin-top: 15%;
}

.container-top-right-side-footer {
    width: 100%;
    padding-top: 10%;
}

.container-top-right-side-footer h1 {
    font-family: Hug Me Tight;
    text-align: center;
    color: rgb(236,123,39);
    font-size: 25px;
}

/* Right side styles end */


.container-bottom {
    background-color: white;
    height: 15vh;
    width: 100vw;
}

.container-bottom-text {
    float: left;
    width: 20%;
    height: 100%;
    font-family: Hug Me Tight;
    color:white;
}

.container-bottom-text img {
    width: 60%;
    margin-left: 10%;
    margin-top: 5%;
}

.container-bottom-text p {
  font-size: 40px;
  margin-left: 25%;
  color: rgb(236,123,39);
}

.container-bottom-partners {
    display: flex;
    float: right;
    width: 80%;
    height: 100%;
}

.container-bottom-partners ul {
    list-style: none;
}

.container-bottom-partners li {
    margin-left: 70px;
    display: inline;
}

.container-bottom-partners img {
    margin-top: 3%;
}
   