* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.container-top {
    display: flex;
    background-color: green;
    height: 90vh;
    width: 100vw;
}

/* Left side styles start */

.container-top-left-side {
    width: 50%;
    height: 100%;
    background: url(../images/office.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
}

.container-post-header {
    width: 90%;
    margin-top: 13%;
    line-height: 60px;
    padding: 1%;
    border-radius: 0 10px 0 0;
    background-color: rgba(239, 101, 60, 1);
    /* rgba(48, 48, 51, 0.8) rgb(75, 79, 161, 0.8); */
}

.container-post-header h1 {
    color: white;
    font-family: 'Metropolis Black';
    text-align: center;
    font-size: 36px;
}

.container-post-header-description {
    width: 100%;
    line-height: 25px;
    border-radius: 5px 5px;
    color: white;
    font-size: 20px;
    font-family: 'Metropolis Black';
    text-align: justify;;
}

.container-post-content {   
    font-family: 'Metropolis', Helvetica, sans-serif;
    background-color:rgba(75, 79, 161, 1);
    padding: 1%;
    border-radius: 0 0 10px 0;
    width: 90%;
    height: 45%;
}

 .container-post-list {
    margin-top: 1%;
    color: white;
 }

 .container-post-list > ul {
    width: 100%;
    height: 80%;
    text-align: left;
    list-style-type: "\1F34A";
    list-style-position: inside;
 }

 .container-post-list li {
    line-height: 30px; /* 4px +12px + 4px */
    font-size: 16px;
 }

 .container-top-left-side-author {
    padding-left: 78%;
    padding-top: 3%;
 }

 .container-top-left-side-author p {
    font-size: 12px;
    color: white;
 }

 .container-top-left-side-author a {
    text-decoration: none;
    color: rgba(239, 101, 60, 1);
 }

 /* Left side styles end */

/* Right side styles start */

.container-top-right-side {
    width: 50%;
    height: 100%;
    background: url('../images/people-working.jpeg'); 
    background-repeat: no-repeat;
    background-color: white;
    background-size: cover;
}

.container-top-right-side-centerized {
    padding: 3%;
    border-radius: 5px 5px;
    margin-top: 13%;
    margin-left: 30%;
    width: 40%;
    height: 58%;
    background-color: rgb(75, 79, 161, 0.8);
}

.container-top-right-side-header {
    width: 100%;
    padding-bottom: 5%;
}

.container-top-right-side-header img {
    margin-left: 40%;
    padding-bottom: 3%;
}

.container-top-right-side-header h1 {
    font-family: 'Metropolis Black';
    text-align: center;
    color: white;
    font-size: 26px;
}

.container-top-right-side-form {
    margin-left: 15%;
    width: 70%;
    height: 55%;
    background-color: rgba(173, 216, 230, 0.576);
    border-radius: 5px 5px;
}

.container-top-right-side-form p {
    line-height: 40px;
    font-family: 'Metropolis Black';
    text-align: center;
    color:white;
    text-align: center;
}

.container-top-right-side-form input,
.container-top-right-side-form select {
    font-family: 'Metropolis';
    display: block;
    margin : 0 auto;
    border: none;
    border-radius: 4px;
    width: 60%;
    text-align: center;
    height: 10%;
    background-color: rgba(173, 216, 230, 0.576);
}

.container-top-right-side-form button {
    width: 60%;
    height: 10%;
    border-radius: 5px 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    margin: 0 auto;
    background-color: rgb(75, 79, 161, 1);
    color: white;
    margin-top: 10%;
}

.container-top-right-side-form button:hover {
    background-color: rgb(59, 62, 126);
}

.container-top-right-side-footer {
    width: 100%;
    padding-top: 10%;
}

.container-top-right-side-footer h1 {
    font-family: 'Metropolis Black';
    text-align: center;
    color: white;
    font-size: 25px;
}

/* Right side styles end */


.container-bottom {
    z-index: 999;
    background-color: rgba(239, 101, 60, 1);
    height: 10vh;
    width: 100vw;
}

.container-bottom-copyright {
    text-align: center;
    color: white;
    padding-top: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container-bottom-copyright ul {
    list-style: none;
}

.container-bottom-copyright li {
    display: inline;
}
.container-bottom-copyright a {
    text-decoration: none;
    color: white;
}